#animation {
  width: 300px;
  height: 400px;
  background: url(http://mmp.bmcc.cuny.edu/ricky.gentry/fall-2018/mmp-100/project-5/img/sprite.png);
  animation: run 9s steps(90) infinite;
}

@keyframes run {
    0%   {background-position: 0px;}
    100%  {background-position: -27000px;}
}
